name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore HorseRacingBackend/HorseRacingBackend/HorseRacingBackend.csproj
    - name: Build
      run: dotnet build HorseRacingBackend/HorseRacingBackend/HorseRacingBackend.csproj --no-restore
    - name: Unit Tests
      run: dotnet test HorseRacingBackend/UnitTests/UnitTests.csproj --no-build --verbosity normal
    - name: Integration Tests
      run: dotnet test HorseRacingBackend/IntegrationTests/IntegrationTests.csproj --no-build --verbosity normal
      
